<section>
  <div class="background_container">
    <img
      class="left_blurr"
      src="./assets/img/landing_page/left_blurr_2.svg"
      alt=""
    />
    <img
      class="right_blurr"
      src="./assets/img/landing_page/right_blurr_4.svg"
      alt=""
    />
  </div>
  <div class="landing-page_container">
    <div class="headline_container">
      <div class="vertical_headline">{{ "I am" | translate }}</div>
      <div class="horizontal_headline_container">
        <span class="name">Sophia Brouwers</span><br />
        <span class="job_title">{{ "jobTitle" | translate }}</span>
      </div>
    </div>
    <button>{{ "buttonLandingpage" | translate }}</button>
  </div>
  <div class="bottom_container">
    <div class="social_icons_container">
      <img src="./assets/img/blue_line.svg" alt="" />
      @for (socialIcon of SocialIcons; track $index) {<a
        href="{{ socialIcon.link }}"
        target="_blank"
        ><img class="social_icon" src="{{ socialIcon.imageSrc }}" alt="" /></a
      >}
    </div>
    <a class="scroll_down" href="#aboutMe">
      <span>{{ "scrollDown" | translate }}</span>
      <img src="./assets/img/icons/scroll_down.svg" alt="" />
    </a>
  </div>
</section>
