<!-- @for (item of items; track $index) { -->
<div class="project_container">
  <div class="left_side">
    <img src="./assets/img/portfolio/laptop.svg" alt="" />
  </div>
  <div class="right_side">
    <h2>Join</h2>
    <h3>Angular | TypeScript | HTML | CSS | Firebase</h3>
    <p>
      Task manager inspired by the Kanban System. Create and organize tasks
      using drag and drop functions, assign users and categories.
    </p>
    <div class="button_container">
      <button>Live test</button>
      <button>GitHub</button>
    </div>
  </div>
</div>
<!-- } -->
