@import "./../../../../styles.scss";

.project_container {
  display: flex;
  align-items: center;
  padding: 80px;
  gap: 80px;
  .left_side {
    width: 50%;
    img {
      width: 100%;
    }
  }
  .right_side {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;
    margin-bottom: 48px;
    h2 {
      color: $purple;
      font-size: 3em;
      margin-block-start: 0;
      margin-block-end: 0;
    }
    h3 {
      color: $light_blue;
      font-weight: 400;
      font-size: 1.5em;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
}

.button_container {
  display: flex;
  gap: 32px;
  button {
    transition: none;
    &:hover {
      transform: none;
    }
  }
  button:first-child {
    background-color: $purple;
    &:hover {
      background-color: $light_blue;
    }
  }
  button:nth-child(2) {
    background-color: transparent;
    border: 2px solid $light_blue;
    &:hover {
      background-color: $light_blue;
    }
  }
}

.reversed {
  flex-direction: row-reverse;
}

@media (min-width: 1920px) {
  .project_container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 900px) {
  .project_container {
    flex-direction: column;
    gap: 0;
    .right_side {
      width: 100%;
      align-items: center;
    }
    p {
      text-align: center;
    }
    .left_side {
      width: 100%;
      img {
        margin-top: -10%;
        margin-bottom: -20%;
      }
    }
  }
}

@media (max-width: 500px) {
  .project_container {
    padding-right: 10px;
    padding-left: 10px;
    .right_side {
      h2 {
        font-size: 32px !important;
      }
    }
  }
  .main_content_container {
    span {
      margin: 0 10px 0 10px;
      text-align: center;
    }
  }
}

@media (max-width: 360px) {
  .button_container {
    gap: 16px;

    button {
      font-size: 14px;
      width: 120px;
      height: 28px;
    }
  }
}
