@for (project of projects; track $index) {
<div
  data-aos="fade-up"
  data-aos-delay="400"
  data-aos-easing="ease-in-out"
  [ngClass]="{ project_container: true, reversed: project.isReversed }"
>
  <div class="left_side">
    <img src="{{ project.imageSrc }}" alt="" />
  </div>
  <div class="right_side">
    <h2>{{ project.title }}</h2>
    <h3>{{ project.technologies }}</h3>
    @if (translate.isGerman) {
    <p>
      {{ project.beschreibung }}
    </p>
    } @else {
    <p>
      {{ project.description }}
    </p>
    }
    <div class="button_container">
      <button>Live test</button>
      <a href="{{ project.linkGithub }}" target="_blank"
        ><button>GitHub</button></a
      >
    </div>
  </div>
</div>
}
