@for (project of projectInfo.projects; track $index) {
<div
  [ngClass]="{
    project_container: true,
    reversed: project.isReversed
  }"
>
  <div
    class="left_side"
    [attr.data-aos]="project.isReversed ? 'fade-left' : 'fade-right'"
  >
    <img src="{{ project.imageSrc }}" alt="" />
  </div>
  <div
    class="right_side"
    [attr.data-aos]="project.isReversed ? 'fade-right' : 'fade-left'"
  >
    <h2>{{ project.title }}</h2>
    <h3>{{ project.technologies }}</h3>
    @if (translate.isGerman) {
    <p>
      {{ project.beschreibung }}
    </p>
    } @else {
    <p>
      {{ project.description }}
    </p>
    }
    <div class="button_container">
      <a href="{{ project.linkLiveTest }}" target="_blank"
        ><button>Live test</button></a
      >
      <a href="{{ project.linkGithub }}" target="_blank"
        ><button>GitHub</button></a
      >
    </div>
  </div>
</div>
}
