<section>
  <div class="background_container">
    <img
      class="blue_blurr"
      src="./assets/img/about_me/blurr_purple.svg"
      alt=""
    />
  </div>
  <div class="main_content_container">
    <div class="left_side" data-aos="fade-right" data-aos-duration="3000">
      <h1>About me</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error,
        molestiae animi vero commodi eos voluptatum voluptatem perferendis ipsa
        doloribus accusamus eveniet necessitatibus blanditiis nihil numquam
        reprehenderit nulla quia ad esse.
      </p>
      <div class="icon_text_container">
        <img src="./assets/img/about_me/light_bulb.svg" alt="" />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Necessitatibus provident iusto molestias debitis dignissimos sequi,
          porro incidunt magni eaque dolorum non ad ipsa architecto hic,
          suscipit reprehenderit doloremque nam error?
        </p>
      </div>
      <div class="icon_text_container">
        <img src="./assets/img/about_me/puzzle.svg" alt="" />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Necessitatibus provident iusto molestias debitis dignissimos sequi,
          porro incidunt magni eaque dolorum non ad ipsa architecto hic,
          suscipit reprehenderit doloremque nam error?
        </p>
      </div>
    </div>
    <div class="right_side">
      <img
        class="profile_img"
        src="./assets/img/photographs/sophia_brouwers.jpg"
        alt=""
      />
      <img class="line" src="./assets/img/about_me/line_about-me.svg" alt="" />
    </div>
  </div>
</section>
