<section>
  <div class="background_container">
    <img
      class="blue_blurr"
      src="./assets/img/about_me/blurr_purple.svg"
      alt=""
    />
  </div>
  <div class="main_content_container">
    <div class="left_side">
      <h1 data-aos="fade-right">About me</h1>
      <p data-aos="fade-right">
        As a Junior Frontend Developer with skills in JavaScript and Angular, I
        am passionate about building interactive and user-friendly web
        applications. My portfolio showcases projects I've done independently
        and with teams, focusing on clean code and responsive design.
      </p>
      <div class="icon_text_container" data-aos="fade-right">
        <img src="./assets/img/about_me/light_bulb.svg" alt="" />
        <p>
          My interest in software development started while running an online
          store, where I built my own website using a website builder. This
          sparked my passion for web technologies and led me to further my
          education in this field. Moving from e-commerce to web development,
          I've used my attention to detail and problem-solving skills to create
          smooth digital experiences.
        </p>
      </div>
      <div class="icon_text_container" data-aos="fade-right">
        <img src="./assets/img/about_me/puzzle.svg" alt="" />
        <p>
          I'm highly focused and enjoy working in teams, contributing positively
          to the work environment. I'm eager to grow as a developer and work on
          innovative projects. If you're looking for a dedicated and creative
          developer, let's connect and achieve your company's digital goals
          together.
        </p>
      </div>
    </div>
    <div class="right_side" data-aos="fade-left">
      <img
        class="profile_img"
        src="./assets/img/photographs/sophia_brouwers.jpg"
        alt=""
      />
      <img class="line" src="./assets/img/about_me/line_about-me.svg" alt="" />
    </div>
  </div>
</section>
