<section>
  <div class="background_container">
    <img
      class="blue_blurr"
      src="./assets/img/about_me/blurr_purple.svg"
      alt=""
    />
  </div>
  <div class="main_content_container">
    <div class="left_side" data-aos="fade-right">
      <h1>{{ "aboutMe.headline" | translate }}</h1>
      <p>{{ "aboutMe.introduction" | translate }}</p>
      <div class="icon_text_container">
        <img src="./assets/img/about_me/light_bulb.svg" alt="" />
        <p>{{ "aboutMe.firstParagraph" | translate }}</p>
      </div>
      <div class="icon_text_container">
        <img src="./assets/img/about_me/puzzle.svg" alt="" />
        <p>
          {{ "aboutMe.secondParagraph" | translate }}
        </p>
      </div>
    </div>
    <div class="right_side" data-aos="fade-left">
      <img
        class="profile_img"
        src="./assets/img/photographs/sophia_brouwers.jpg"
        alt=""
      />
    </div>
  </div>
</section>
