<section>
  <div class="background_container">
    <img src="./assets/img/contact/blurr.svg" alt="" />
  </div>
  <div class="main_content_container">
    <div
      class="left_side"
      data-aos="fade-right"
      data-aos-offset="0"
      data-aos-delay="50"
      data-aos-duration="125"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="false"
      data-aos-anchor-placement="top-center"
    >
      <div class="headline_container">
        <img src="./assets/img/contact/line.svg" alt="" />
        <h1>Contact</h1>
      </div>
      <div class="content_container">
        <h2>Got a problem to solve?</h2>
        <p>
          Contact me through this form, I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
        </p>
        <p>Need a Frontend developer? Contact me!</p>
      </div>
    </div>
    <form
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
      class="right_side"
      data-aos="fade-left"
      data-aos-delay="50"
      data-aos-duration="125"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="false"
      data-aos-anchor-placement="top-center"
    >
      <input
        [(ngModel)]="inputData.name"
        type="text"
        placeholder="Your name"
        name="name"
        required
      />
      <input
        [(ngModel)]="inputData.email"
        type="email"
        placeholder="Your email"
        name="email"
        required
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      />
      <textarea
        #message="ngModel"
        minlength="4"
        [(ngModel)]="inputData.message"
        name="message"
        id="message"
        rows="10"
        placeholder="Your message"
        required
      ></textarea>
      @if (!message.valid && message.touched) {
      <!-- @if (!message.valid && message.touched && !message.disabled) { -->
      <span>Please enter a message</span>
      }
      <div class="terms_container">
        <img src="./assets/img/contact/checkbox_empty.svg" alt="" />
        <span>
          I've read the
          <a [routerLink]="['imprint']" routerLinkActive="active"
            >privacy policy
          </a>
          and agree to processing of my data as outlined.
        </span>
      </div>
      <button type="submit">Send</button>
      <div class="go_up_container">
        <img src="./assets/img/contact/go_up.svg" alt="" />
      </div>
    </form>
  </div>
</section>
