<section>
  <div class="background_container">
    <img src="./assets/img/contact/blurr.svg" alt="" />
  </div>
  <div class="main_content_container">
    <div
      class="left_side"
      data-aos="fade-right"
      data-aos-offset="0"
      data-aos-delay="50"
      data-aos-duration="125"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="false"
      data-aos-anchor-placement="top-center"
    >
      <div class="headline_container">
        <img src="./assets/img/contact/line.svg" alt="" />
        <h1>Contact</h1>
      </div>
      <div class="content_container">
        <h2>Got a problem to solve?</h2>
        <p>
          Contact me through this form, I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
        </p>
        <p>Need a Frontend developer? Contact me!</p>
      </div>
    </div>
    <form
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
      class="right_side"
      data-aos="fade-left"
      data-aos-delay="50"
      data-aos-duration="125"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="false"
      data-aos-anchor-placement="top-center"
    >
      <input
        #name="ngModel"
        [(ngModel)]="inputData.name"
        [ngClass]="{ outline_red: !name.valid && name.touched }"
        type="text"
        placeholder="Your name"
        name="name"
        minlength="2"
        autocomplete="off"
        required
      />
      @if (!name.valid && name.touched) {
      <!-- @if (!message.valid && message.touched && !message.disabled) { -->
      <span>Please enter your name</span>
      }
      <input
        #email="ngModel"
        [(ngModel)]="inputData.email"
        [ngClass]="{ outline_red: !email.valid && email.touched }"
        type="email"
        placeholder="Your email"
        name="email"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
        autocomplete="off"
        required
      />
      @if (!email.valid && email.touched) {
      <!-- @if (!message.valid && message.touched && !message.disabled) { -->
      <span>Please enter a valid email-address</span>
      }
      <textarea
        #message="ngModel"
        [(ngModel)]="inputData.message"
        [ngClass]="{ outline_red: !message.valid && message.touched }"
        name="message"
        id="message"
        rows="10"
        placeholder="Your message"
        minlength="4"
        autocomplete="off"
        required
      ></textarea>
      @if (!message.valid && message.touched) {
      <!-- @if (!message.valid && message.touched && !message.disabled) { -->
      <span>Please enter a message</span>
      }
      <div class="flex_column_container">
        <div>
          <div class="terms_container">
            <div (click)="togglePrivacyPolicy()">
              @if (privacyPolicyChecked == false) {<img
                src="./assets/img/contact/checkbox_empty.svg"
                alt=""
              />} @else {<img
                src="./assets/img/contact/checkbox_filled.svg"
                alt=""
              />}
            </div>
            <span>
              I've read the
              <a [routerLink]="['imprint']" routerLinkActive="active"
                >privacy policy
              </a>
              and agree to processing of my data as outlined.
            </span>
          </div>
          @if (!privacyPolicyChecked && message.valid && email.valid &&
          name.valid) {
          <!-- @if (!message.valid && message.touched && !message.disabled) { -->
          <span>Please accept the therms</span>
          }
        </div>
        <div>
          @if (contactForm.valid && privacyPolicyChecked) {<button
            type="submit"
          >
            Send</button
          >} @else {<button class="button_disbaled">Send</button>}
        </div>
      </div>
      <div class="go_up_container">
        <a href="#landingPage"
          ><img src="./assets/img/contact/go_up.svg" alt=""
        /></a>
      </div>
    </form>
  </div>
</section>
@if (sendWasTouched) {
<div class="popup_background">
  <div
    class="popup"
    data-aos="fade-bottom"
    data-aos-delay="50"
    data-aos-duration="125"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
  >
    <span>Thank you for your message!</span>
  </div>
</div>
}
