@import "./../../../styles.scss";

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  // max-width: 1920px;
}

.header_container {
  width: 100%;
  height: 96px;
  background-color: $dark_blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo_container {
    display: flex;
    margin-left: 80px;
    span {
      font-size: 40px;
      font-weight: 600;
    }
    .logo_colored {
      color: $light_blue;
    }
  }
}

.link_container {
  display: flex;
  gap: 24px;
  margin-right: 80px;
  a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 125ms ease-in;
    &:hover {
      color: $light_blue;
    }
  }
}
