<nav class="header_container">
  <div class="logo_container">
    <span class="logo">Soph</span>
    <span class="logo_colored">i</span>
    <span class="logo">a</span>
  </div>
  <div class="link_container">
    <a href="#aboutMe">{{ "About me" | translate }}</a>
    <a href="#skills">{{ "Skills" | translate }}</a>
    <a href="#portfolio">{{ "Portfolio" | translate }}</a>
    <div>
      <a
        href="#"
        (click)="translate.switchLanguage('de')"
        [ngClass]="{ blue: translate.isGerman }"
        >DE</a
      >
      |
      <a
        href="#"
        (click)="translate.switchLanguage('en')"
        [ngClass]="{ blue: !translate.isGerman }"
        >EN</a
      >
    </div>
  </div>
</nav>
