<section>
  <div class="background_container">
    <img class="blue_blurr" src="./assets/img/skills/blurr.svg" alt="" />
  </div>
  <div class="main_content_container">
    <div class="left_side" data-aos="fade-right">
      @for (skill of skills; track $index) {
      <div class="img_text_container">
        <!-- <div class="img_container"> -->
        <img src="{{ skill.src }}" alt="" />
        <span>{{ skill.name }}</span>
      </div>

      <!-- </div> -->
      }
    </div>
    <div class="right_side" data-aos="fade-left">
      <div class="headline_container">
        <h1>{{ "skillsHeadline" | translate }}</h1>
        <img src="./assets/img/skills/line.svg" alt="" />
      </div>

      <p>
        {{ "skillsParagraph" | translate }}
      </p>
      <a href="#contact"
        ><button>{{ "skillsButton" | translate }}</button></a
      >
    </div>
  </div>
</section>
