<section>
  <div class="background_container">
    <img class="blue_blurr" src="./assets/img/skills/blurr.svg" alt="" />
  </div>
  <div class="main_content_container">
    <div class="left_side" data-aos="fade-right">
      @for (skill of skills; track $index) {
      <div class="img_text_container">
        <!-- <div class="img_container"> -->
        <img src="{{ skill.src }}" alt="" />
        <span>{{ skill.name }}</span>
      </div>

      <!-- </div> -->
      }
    </div>
    <div class="right_side" data-aos="fade-left">
      <div class="headline_container">
        <h1>My skills</h1>
        <img src="./assets/img/skills/line.svg" alt="" />
      </div>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
        fugiat laboriosam vel qui doloribus, necessitatibus mollitia eveniet,
        veniam at quaerat voluptatibus sequi cumque iste suscipit dolores porro.
        Quibusdam, culpa expedita?
      </p>
      <a href="#contact"><button>Get in touch</button></a>
    </div>
  </div>
</section>
