<section>
  <div class="background_container">
    <img class="blue_blurr" src="./assets/img/skills/blurr.svg" alt="" />
  </div>
  <div class="main_content_container">
    <div
      class="left_side"
      data-aos="fade-right"
      data-aos-delay="225"
      data-aos-easing="ease-in-out"
    >
      @for (skill of skills; track $index) {
      <div class="img_text_container">
        <!-- <div class="img_container"> -->
        <img src="{{ skill.src }}" alt="" />
        <span>{{ skill.name }}</span>
      </div>

      <!-- </div> -->
      }
    </div>
    <div
      class="right_side"
      data-aos="fade-left"
      data-aos-delay="400"
      data-aos-easing="ease-in-out"
    >
      <div class="headline_container">
        <h1>{{ "skills.headline" | translate }}</h1>
        <img src="./assets/img/skills/line.svg" alt="" />
      </div>

      <p>
        {{ "skills.paragraph" | translate }}
      </p>
      <a href="#contact"
        ><button>{{ "skills.button" | translate }}</button></a
      >
    </div>
  </div>
</section>
