<section>
  <div class="background_container">
    <img class="blue_blurr" src="./assets/img/portfolio/blurr.svg" alt="" />
  </div>
  <div class="main_content_container">
    <div class="headline_container">
      <img src="./assets/img/portfolio/short_line.svg" alt="" />
      <h1>Portfolio</h1>
      <img src="./assets/img/portfolio/long_line.svg" alt="" />
    </div>
    <span
      >Explore a selection of my work here - Interact with projects to see my
      skills in action.</span
    >
    <div class="project">
      <app-project></app-project>
    </div>
  </div>
</section>
