<section>
  <div class="background_container">
    <div class="left_blurr_container">
      <img src="./assets/img/portfolio/blurr_left.svg" alt="" />
    </div>
    <div class="right_blurr_container">
      <img src="./assets/img/portfolio/blurr_right.svg" alt="" />
    </div>
  </div>
  <div class="main_content_container">
    <div
      class="headline_container"
      data-aos="slide-right"
      data-aos-delay="225"
      data-aos-easing="ease-in-out"
      id="headline"
    >
      <div class="line"></div>
      <h1>Portfolio</h1>
      <div class="line"></div>
    </div>
    <span
      data-aos="slide-right"
      data-aos-delay="100"
      data-aos-easing="ease-in"
      >{{ "portfolioParagraph" | translate }}</span
    >
    <div class="project">
      <app-project></app-project>
    </div>
  </div>
</section>
